.DS_Store
node_modules
dist
lib
es
examples/element-ui
examples/node_modules
examples/pages/en-US
examples/pages/zh-CN
examples/pages/es
examples/pages/fr-FR
packages/components/node_modules
fe.element/element-ui
coverage

# Log files
npm-debug.log
yarn-debug.log
yarn-error.log
lerna-debug.log
npm-debug.log.*
yarn-debug.log.*
yarn-error.log.*
lerna-debug.log.*

# Editor directories and files
.idea
.vscode
.envrc
.npmrc
.pnpm-debug.log
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
waiter.config.js
build/bin/algolia-key.js
